/*----------------- MEDIA QUERIES ------------------*/

#task-list {
    width: 70%;
}

.msg {
    margin-bottom: 1.5vh;
    color: white;
}

.error {
    color: #EF5350;
}

/*========== BIG NOTEBOOKS ===========*/
@media screen and (max-width: 1300px) and (orientation: landscape) {
  

}


/*========== SMALL NOTEBOOKS ===========*/
@media screen and (max-width: 1050px) and (orientation: landscape) {


}



/*========== BIG TABLETS ===========*/
@media screen and (max-width: 1400px) and (orientation: portrait) {



}

/*========== SMALL TABLETS ===========*/
@media screen and (max-width: 820px)and (orientation: portrait) {
  


}

/*========== SMARTPHONES ===========*/
@media screen and (max-width: 420px) and (orientation: portrait) {



}